
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #EEA47FFF;
    display: flex;
    flex-direction: column;
}
.wrapper{
    display: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}
ul{
    display: inherit;
    gap: 20px;
    margin-top: 12px;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.header{
    background-color: #00539CFF;
    padding: 10px;
    display: inherit;
    justify-content: space-around;
    color: palevioletred;
}
.site-info{
    background-color: #00539CFF;
    display: inherit;
    padding: 10px;
    align-items: center;
    justify-content: center;
    min-width: 100vh;
    padding-left: 15%;
    padding-right: 15%;
    max-height: 200px;
    color: palevioletred;
}
.site-info-text{
    text-align: left;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    gap: 10px;
}
.site-info-text-button{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: lightcoral;
    color: whitesmoke;
    border: 1px solid lightsalmon;
    color: black;
}
.img-1{
    width: 150px;
    height: 170px;
    border-radius: 20px;
    margin: 2px;
}
.display{
    min-width: 100%;
    padding: 25px;
    text-align: center;
    color: #1F2937;
    margin: 50px 0 50px 0;
}
.cards{
    margin-top: 12px;
    padding: 15px;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.card{
    border: solid black 2px;
    width: 150px;
    height: 150px;
    border-radius: 20px;
}
.quote{
    background-color: #FC766AFF;
    padding: 50px 20% 50px 20%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #1F2937;
    font-size: 32px;
    font-style: italic;
}
#signature{
    font-size: 18px;
    text-align: right;
    font-style: italic;
}
.interaction-piece{
    display: inherit;
    justify-content: center;
    align-items: center;
    padding: 40px 20% 40px 20%;
}
.int-textbox{
    background-color: #FC766AFF;
    padding: 40px;
    margin: 12px;
    border-radius: 12px;
    display: inherit;
    align-items: center;
}
.int-text{
    margin-right: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #1F2937;
    font-style: italic;
}
#int-button{
    width: 100px;
    height: 50px;
    background-color: #ffe5b4;
    border: salmon solid 2px;
    border-radius: 12px;
}

.footer{
    min-width: 100%;
    display: inherit;
    flex-flow: column wrap;
    align-content: flex-start;
    gap: 12px;
    background-color: #EE4E34;
    padding: 12px;
}