*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #EEA47FFF;
}
.header{
    background-color: #00539CFF;
    padding: 10px;
}
.site-info{
    background-color: #00539CFF;  
}
.display{

}
.quote{
    background-color: #FC766AFF;
}
footer{
    background-color: #EE4E34;
    padding: 12px;
}
.interaction-piece{

}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: inherit;
}